.best {
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-position: 50%;
    position: relative;
    background-size: cover;    
}

.section__title--best {
    color: $dark;
    padding: 0;
}
.best__elem {
    display: flex;
    flex-flow: column wrap;
    width: 290px;
    text-align: center;
        // &-meat {
        //     background-image: url(../../svg/icon/meat.svg);
        // }
}

.best__elements {
    display: flex;
    flex-flow: row nowrap; 
    justify-content: space-between; 
    width: 940px;
}


.icons {
    width: 97px;
    height: 89px;
    fill: black;
    margin: 0 auto;
}
    


.best__elem-bold {
    color: $dark;
    font-family: "lifehackmedium";
    font-size: 24px;
    font-weight: 500;
    line-height: 28.14px;
    letter-spacing: -0.6px;
}
.best__elem-text {
    opacity: 0.8;
    font-family: "Ubuntu";
    color: $dark;
    font-size: 14px;
    font-weight: 300;
    line-height: 24.07px
}