.coments {
    background-size: cover;
}
.coments__container {
    width: 100%;
}
.coments__list {
    font-size: 0px;
    width: 100%;
}
.coments__elem {
    display: inline-block;
    
}
.coments__avatar {
    width: 276px;
    height: 327px;
    position: relative;
}
.ava {
    width: 276px;
    height: 327px;
}
.coments__text {
    width: 276px;
    height: 327px;
    position: absolute;
}
