.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 4px;
    position: absolute;
}
.header__logo {
    margin-right: auto;
}
.logo__img {
    width: 92px;
    height: 69px;
}
.menu {
    margin-right: rem(15px);
}
.menu__list {
    margin: 0;
    padding: 0;
}
.menu__elem {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap; 
    &::after {
        display: inline-block;
        vertical-align: middle;
        content: "";
        @include circle(5px, #fff);
        margin: 0 12px;
    }
    &:last-child::after {
        display: none;
    }
}
.menu__link {
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.42;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    transition: .5s;
    &:hover {
        text-decoration: underline;
    }
}