.hero {
    background-image: url(../img/fon.jpg);
    background-repeat: no-repeat;
    background-position: 50%;
    position: relative;
    background-size: cover;
}
.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 4px;
}
.header__logo {
    margin-right: auto;
}
.logo__img {
    width: 92px;
    height: 69px;
}
.menu {
    margin-right: rem(15px);
}
.menu__list {
    margin: 0;
    padding: 0;
}
.menu__elem {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    &::after {
        display: inline-block;
        vertical-align: middle;
        content: "";
        @include circle(5px, #fff);
        margin: 0 12px;
    }
    &:last-child::after {
        display: none;
    }
}
.menu__link {
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.42;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    transition: .5s;
    &:hover {
        text-decoration: underline;
    }
}
.hero__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.welcome {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    align-items: center;
    padding-bottom: 15%;
}
.welcome__page, .welcome__info {
    flex-basis: 50%;
    display: flex;
}
.welcome__info {
    flex-direction: column;
    justify-content: center;
}
.welcome__img {
    width: 417px;
    height: 424px;
}
.section__title {
    font-family: "Gagalin";
    font-size: 72px;
    font-weight: 400;
    line-height: 1.42;
    margin: 0;
    padding-top: 60px;

}
.section__title--hero {
    color: $yellow;
}
.welcome__info-two {
    color: #ffffff;
    font-size: 65px;
    font-weight: 500;
    font-family: "lifehackmedium";
    letter-spacing: -1.63px;
    line-height: 60px;
}

