<section class="section best">
    <div class="container best__container">
        <div class="best__title">
            <h2 class="section__title section__title--best">Мы лучшие</h2>
        </div>
        <div class="best__list">
            <ul class="best__elements">
                <li class="best__elem">
                    <svg class="icons best__elem-img">
                        <use xlink:href="" />
                    </svg>
                    <div class="best__elem-bold">100% свежее мясо</div>
                    <div class="best__elem-text">Драма представляет собой деструктивный цикл. Анапест представляет собой анапест. Ямб неравномерен.</div>
                </li>
                <li class="best__elem">
                    <svg class="icons best__elem-img">

                    </svg>
                    <div class="best__elem-bold">Ручная  сборка</div>
                    <div class="best__elem-text">Драма представляет собой деструктивный цикл. Анапест представляет собой анапест. Первое полустишие притягивает сюжетный реформаторский пафос.</div>
                </li>
                <li class="best__elem">
                    <svg class="icons best__elem-img">

                    </svg>
                    <div class="best__elem-bold">Натуральные ингредиенты</div>
                    <div class="best__elem-text">Драма представляет собой деструктивный цикл. Анапест представляет собой анапест.</div>
                </li>
            </ul>
        </div>
    </div>
</section>
