<section class="section coments">
	<div class="container coments__container">
		<!-- <ul class="coments__list">
			<li class="coments__elem">
				<div class="coments__avatar">
					<img src="img/p1.png" class="ava" alt="">
				</div> -->
											<!-- <div class="coments__text">
												<div class="coments__name"></div>
												<div class="coments__coment"></div>
												<div class="coments__button">
													<div class="coments__btn"></div>
												</div>
											</div> -->
			<!-- </li>
			<li class="coments__elem">
				<div class="coments__avatar">
					<img src="img/p2.png" class="ava" alt="">
					<div class="coments__text">
						<div class="coments__name">Константин Спилберг</div>
						<div class="coments__coment">Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным.</div>
						<div class="coments__button">
							<div class="coments__btn"></div>
						</div>
					</div>
				</div>
			</li>
			<li class="coments__elem">
				<div class="coments__avatar">
					<img src="img/p3.png" class="ava" alt="">
				</div>
			</li>
			<li class="coments__elem">
				<div class="coments__avatar">
					<img src="img/p4.png" class="ava" alt="">
				</div>
			</li>
			<li class="coments__elem">
				<div class="coments__avatar">
					<img src="img/p5.png" class="ava" alt="">
				</div>
			</li>
			<li class="coments__elem">
				<div class="coments__avatar">
					<img src="img/p6.png" class="ava" alt="">
				</div>
			</li>
			<li class="coments__elem">
				<div class="coments__avatar">
					<img src="img/p7.png" class="ava" alt="">
				</div>
			</li>
			<li class="coments__elem">
				<div class="coments__avatar">
					<img src="img/p8.png" class="ava" alt="">
				</div>
			</li>
		</ul> -->
	</div>
</section>